## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Wuwei,CN,2022-06-12 16:27:53,37.9281,102.6414,61.75,16,3,4.94,clear sky
1,1,Busselton,AU,2022-06-12 16:27:53,-33.6500,115.3333,58.66,69,100,31.79,overcast clouds
2,2,Punta Arenas,CL,2022-06-12 16:27:41,-53.1500,-70.9167,51.91,71,40,13.80,scattered clouds
3,3,Norman Wells,CA,2022-06-12 16:27:54,65.2820,-126.8329,42.84,93,100,14.97,light rain
4,4,Qaanaaq,GL,2022-06-12 16:27:54,77.4840,-69.3632,30.81,69,89,3.42,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Urucara,BR,2022-06-12 16:27:55,-2.5364,-57.7600,82.04,80,52,1.41,heavy intensity rain
12,12,Ponta Do Sol,PT,2022-06-12 16:27:56,32.6667,-17.1000,78.71,73,20,5.75,few clouds
20,20,Kapaa,US,2022-06-12 16:27:59,22.0752,-159.3190,76.12,85,75,18.41,broken clouds
22,22,Niesky,DE,2022-06-12 16:26:21,51.2924,14.8211,84.02,37,29,10.65,scattered clouds
24,24,Atuona,PF,2022-06-12 16:26:47,-9.8000,-139.0333,78.44,62,74,16.49,broken clouds
26,26,Acapulco,MX,2022-06-12 16:28:00,16.8634,-99.8901,85.82,62,75,6.91,broken clouds
28,28,Albany,US,2022-06-12 16:26:24,42.6001,-73.9662,77.04,58,94,5.99,overcast clouds
33,33,Port Blair,IN,2022-06-12 16:23:31,11.6667,92.7500,78.84,89,40,3.44,mist
38,38,Hargeysa,SO,2022-06-12 16:28:03,9.5600,44.0650,80.78,41,71,23.31,broken clouds
42,42,Machico,PT,2022-06-12 16:28:04,32.7000,-16.7667,78.71,64,20,19.57,few clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Urucara,BR,2022-06-12 16:27:55,-2.5364,-57.7600,82.04,80,52,1.41,heavy intensity rain
12,12,Ponta Do Sol,PT,2022-06-12 16:27:56,32.6667,-17.1000,78.71,73,20,5.75,few clouds
20,20,Kapaa,US,2022-06-12 16:27:59,22.0752,-159.3190,76.12,85,75,18.41,broken clouds
22,22,Niesky,DE,2022-06-12 16:26:21,51.2924,14.8211,84.02,37,29,10.65,scattered clouds
24,24,Atuona,PF,2022-06-12 16:26:47,-9.8000,-139.0333,78.44,62,74,16.49,broken clouds
26,26,Acapulco,MX,2022-06-12 16:28:00,16.8634,-99.8901,85.82,62,75,6.91,broken clouds
28,28,Albany,US,2022-06-12 16:26:24,42.6001,-73.9662,77.04,58,94,5.99,overcast clouds
33,33,Port Blair,IN,2022-06-12 16:23:31,11.6667,92.7500,78.84,89,40,3.44,mist
38,38,Hargeysa,SO,2022-06-12 16:28:03,9.5600,44.0650,80.78,41,71,23.31,broken clouds
42,42,Machico,PT,2022-06-12 16:28:04,32.7000,-16.7667,78.71,64,20,19.57,few clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Urucara,BR,82.04,heavy intensity rain,-2.5364,-57.7600,
12,Ponta Do Sol,PT,78.71,few clouds,32.6667,-17.1000,
20,Kapaa,US,76.12,broken clouds,22.0752,-159.3190,
22,Niesky,DE,84.02,scattered clouds,51.2924,14.8211,
24,Atuona,PF,78.44,broken clouds,-9.8000,-139.0333,
26,Acapulco,MX,85.82,broken clouds,16.8634,-99.8901,
28,Albany,US,77.04,overcast clouds,42.6001,-73.9662,
33,Port Blair,IN,78.84,mist,11.6667,92.7500,
38,Hargeysa,SO,80.78,broken clouds,9.5600,44.0650,
42,Machico,PT,78.71,few clouds,32.7000,-16.7667,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Urucara,BR,82.04,heavy intensity rain,-2.5364,-57.7600,Pousada Maria Bonita
12,Ponta Do Sol,PT,78.71,few clouds,32.6667,-17.1000,Hotel do Campo
20,Kapaa,US,76.12,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
22,Niesky,DE,84.02,scattered clouds,51.2924,14.8211,Ferienwohnung Niesky
24,Atuona,PF,78.44,broken clouds,-9.8000,-139.0333,Villa Enata
26,Acapulco,MX,85.82,broken clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
33,Port Blair,IN,78.84,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
38,Hargeysa,SO,80.78,broken clouds,9.5600,44.0650,City Center Hotel
42,Machico,PT,78.71,few clouds,32.7000,-16.7667,Dom Pedro Madeira Hotel
45,Faya,SA,78.91,broken clouds,18.3851,42.4509,املاك خالد الشعشوع

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))